<template name="projectItem">
  <div class="project-item box-shadow">
    <div class="project-item-content">
      <h1>{{name}}</h1>
      <span>{{description}}</span>
      <a href="{{ pathFor 'userProfile' userId=owner.userId }}" class="project-item-username">{{owner.username}}</a>
      {{#if canJoinProject Meteor.userId _id }}
      <span class="join-button">
        <a class="btn btn-default" href="{{ pathFor 'projectPage' }}">Join</a>
      </span>
      {{/if}}
    </div>
  </div>
</template>
