<template name="userProfile">
  <div class="user-profile">
    <h1>{{username}}</h1>
    <div class="row">
      <div class="col-sm-1">
        <img src="{{ gravatarURL }}" class="img-rounded" />
      </div>
      <div class="col-sm-2">
        {{ fullName }}
      </div>
    </div>
    <h2>User's projects</h2>
    <ul>
    {{#each projects}}
      <li><a href="{{ pathFor 'projectPage' projectId=_id }}">{{ name }}</a></li>
    {{/each}}
    </ul>
{{#if isMemberOf}}
  <h2>Member of</h2>
	<ul>
	{{#each memberOfProjects}}
	  <li> <a href="{{ pathFor 'projectPage' projectId=_id }}">{{ name }} </a></li>
	{{/each}}
	</ul>
{{/if}}
  </div>
</template>
