body {
  background-color: #FCFAE6
}

.project-item {
  background-color: #fff;
  border-radius: 3px;
}

.project-item-username {
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  display: block;
}

.project-form {
  width: 600px;
  height: 300px;
}
