<Template name="projects">
  <h2>Your projects</h2>
  {{#if projectsEmpty }}
    You have no project. <a id="create-project-button" data-toggle="modal" data-target="#create-project">create one</a>
  {{else}}
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Number of members</th>
    </thead>
    <tbody>
      {{#each projects}}
      <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{owner}}</td>
      </tr>
      {{/each}}
    </tbody>
    <button id="create-project-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-project"> New Project</button>
  </table>
  {{/if}}
  {{> createProject }}
</Template>
