<template name="register">
  <div class="container signin-div">
    <form class="form-signin" id="register-form">

      <h2 class="form-signin-heading">Register</h2>

      {{#each errorList}}
        <div class="alert alert-danger fade in">{{message}}</div>
      {{/each}}

      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

      <label for="inputFirstName" class="sr-only">First name</label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required>

      <label for="inputLastName" class="sr-only"></label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required>

      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</template>
