<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-fire"></span>
    {{#if notificationCount }}
      <span class="badge badge-inverse">{{ notificationCount }}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> interactiveNotificationItem }}
      {{/each}}
    {{else}}
    <li>
      <span>No Notifications</span>
    </li>
    {{/if}}
  </ul>
</template>

<template name="notificationItem">
  <li>
    <a href="{{notificationPostPath}}">
      {{ notificationText }}
    </a>
  </li>
</template>

<template name="interactiveNotificationItem">
  <li>
    <div class="notification-container">
      {{ text }}
      <span class="notification-buttons">
        <button class="glyphicon glyphicon-ok"></button>
        <button class="glyphicon glyphicon-remove"></button>
      </span>
    </div>
  </li>
</template>
