<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-fire"></span>
    {{#if notificationCount }}
    <span class="badge badge-inverse">{{ notificationCount }}</span>
    {{/if}}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> interactiveNotificationItem }}
      {{/each}}
    {{else}}
    <li>
      <span>No Notifications</span>
    </li>
    {{/if}}
  </ul>
</template>

<template name="notificationItem">
  <li class="notification-item">
    <a href="{{notificationPostPath}}">
      {{ text }}
    </a>
  </li>
</template>

<template name="interactiveNotificationItem">
  <ul class="notification-list">
    <ul class="notification-item interactive">
        <li class="notification-text">{{ text }}</li>
        <li class="notification-buttons">
          <button id="accept-button" class="glyphicon glyphicon-ok"></button>
          <button id="reject-button" class="glyphicon glyphicon-remove"></button>
        </li>
    </ul>
  </ul>
</template>
